*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.showcase{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    color: #fff;
    z-index: 2;
    transition: 0.5s;
}

.showcase.active{
    right: 300px;
}

.showcase header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.showcase video{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    object-fit: cover;
}

.logo{
    width:60px;
    display: flex;
    align-items: center;
}

.logo h2{
    white-space: nowrap;
    margin-left: 10px;
}

.logo img{
    width: 100%;
}

.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    background: url('/Windhearing/img/menu.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}

.toggle.active{
    background: url('/Windhearing/img/close.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
}

.overlay{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgb(177, 177, 175);
    /* background: gold; */
    mix-blend-mode: overlay;
}

.text{
    position:relative;
    z-index:  10;
}

.text h2{
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}

.text h3 {
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;  
}

.text p{
    font-size:1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}

.text a{
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    transition: 0.2s;
}

.text a:hover{
    letter-spacing: 6px;
}

.social{
    position: absolute;
    bottom: 20px;
    z-index:10;
    display:flex;
    justify-content: center;
    align-items: center;
}

.social li{
    list-style: none;
}

.social li a {
    display: inline-block;
    width: 40px;
    margin-right: 20px;
    transition: 0.5s;
}

.social li a:hover{
    transform: translateY(-15px);
}

.social li a img{
    width: 100%;
}

.menu{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.menu ul{
    list-style: none;
}

.menu ul li{
    margin-top: 20px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #111;
}

.menu ul li a:hover{
    color: rgb(21, 186, 45);
}

@media(max-width: 991px){
    .showcase, .showcase header{
        padding: 40px;
    }

    .text h2{
        font-size: 3em;
    }

    .text h3{
        font-size: 2em;
    }
}