<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>欢迎来到  主页</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <!-- ------------------------------------------------- -->
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/fullpage.min.css" />
    <!-- 引入animate -->
    <link rel="stylesheet" href="css/animate.min.css" />
    <link rel="stylesheet" href="css/style-1.css" />
    <link rel="stylesheet" href="css/style-2.css" />
    <link rel="stylesheet" href="css/style-3.css" />
    <link rel="stylesheet" href="css/style-4.css" />
    <link rel="stylesheet" href="css/style-5.css" />
    <link rel="stylesheet" href="css/jaliswall.css" />
    <!-- ------------------------------------------------- -->
    <script src="js/jQuery.mini.js"></script>
    <script src="js/fullpage.min.js"></script>
    <script src="js/jaliswall.js"></script>
    <script src="js/index.js"></script>
    <style>
        /* 轮播圆点颜色 */
        #fp-nav ul li a span {
            background-color: #fff !important;
        }

        /* 左右滑块的样式 */
        .fp-bottom ul {
            width: 100%;
            text-align: center;
        }

        /* 三屏的圆点颜色 */
        .fp-bottom ul li a span {
            background-color: rgb(255, 255, 255);
        }

        body {
            background-image: linear-gradient(#48f1d5, #fff, #ffa4a4);
        }
    </style>
</head>

<body>
    <!-- 设置背景音乐 -->
    <audio autoplay="autoplay" loop="loop" preload="auto" src="music/Lana Del Rey - Dark Paradise.mp3">
    </audio>
    <div id="dowebok">
        <!-- <h3>第一屏</h3> --> 
        <div class="section sec1" id="section2">
           <nav>
           <ul>
             <li><a href="#" >主页</a></li>
             <li><a href="#G" >游戏主题</a></li>
             <li><a href="P">游戏图片</a></li>
             <li><a href="S">搜索栏</a></li>
             <li><a href="V">视频</a></li>
           </ul>
           </nav>
            <!-- 背景圆点 -->
            <div class="sec1_circle1"></div>
            <div class="sec1_circle2"></div>
            <div class="sec1_circle3"></div>
            <!-- 内容区域 -->
            <main>
               
                <div class="main_left">
                    <div class="myPhoto current">
                        <a href="#">
                            <img src="./img/myphoto.jpg" alt="" />
                            <h3>Chen Wei </h3>
                            <p>且听风吟🍂</p>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <p></p>
                            <span>首页</span>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <p></p>
                            <span>关于</span>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <p></p>
                            <span>电话</span>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <p></p>
                            <span>邮箱</span>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <p></p>
                            <span>分享</span>
                        </a>
                    </div>
                    <div>
                        <a href="more.html">
                            <p></p>
                            <span>更多</span>
                        </a>
                    </div>
                </div>
                <div class="main_right">
                    <div class="content hidden" style="display: block">
                        <img src="img/logo.png" alt="" / class="touxiang">
                        <p>姓名：魏陈</p>
                        <p>班级：计科203班</p>
                    </div>

                    <div class="content hidden">
                        <img src="img/04.png" alt="" / class="touxiang">
                        <p>来自四川成都</p>
                    </div>

                    <div class="content hidden">
                        <img src="img/01.jpg" alt="" / class="touxiang">
                        <p>喜欢玩各种3A大作</p>
                        <p>以及各类手游</p>
                        <p></p>
                    </div>

                    <div class="content hidden">
                        <img src="img/R-C.png" alt="" / class="touxiang">
                        <p>183 xxxx 8618</p>
                        <p></p>
                        <p></p>
                    </div>

                    <div class="content hidden">
                        <img src="img/05.png" alt="" / class="touxiang">
                        <p></p>
                        <p></p>
                        <p>PPT15729854758@163.com</p>
                    </div>

                    <div class="content hidden">
                        <img src="img/csgo05.webp" alt="" / class="touxiang">
                        <p></p>
                        <p></p>
                        <p>望远处是风景，看近处才是人生！</p>
                    </div>

                    <div class="content hidden">
                        <img src="img/03.jpg" alt="" / class="touxiang">
                        <p>你要咽的下这世间的不美好</p>
                        <p>才配得上这世上一切的美好</p>
                    </div>
                </div>
            </main>
        </div>
        <!-- <h3><a href="#" name="G">第二屏</a></h3> -->
        <div class="section sec2" id="section2">
            <!-- 背景小圆点 -->
            <div class="sec1_circle1"></div>
            <div class="sec1_circle2"></div>
            <div class="sec2_circle1"></div>
            <div class="sec2_circle2"></div>
            <div class="sec2_circle3"></div>
                <!-- 主题内容 -->
                <div class="sec2_main">
                    <div class="sec2_main_head">
                        <ul>
                            <li class="current1">
                                <a href="#">FPS主题</a>
                            </li>
                            <li><a href="#">MOBA主题</a></li>
                            <li><a href="#">冒险主题</a></li>
                            <li><a href="#">像素主题</a></li>
                            <li><a href="#">休闲主题</a></li>
                            <li><a href="#">生存主题</a></li>
                        </ul>
                    </div>
                    <div class="sec2_main_body">
                        <div class="sec2_main_body_content hidden" style="display: block">
                            <div class="sec2_main_body_content_left">
                                <p><a href="http://steamgame.shfs1.com/detail-1578283492?channel=360gh01&plan=A201-byhzw-hw&unit=ws3-b&kw=%E5%86%B0%E4%B8%8E%E7%81%AB%E4%B9%8B%E8%88%9E%E7%94%B5%E8%84%91%E7%89%88">彩虹六号：围攻联机版</a></p>
                                <p><a href="http://www.l4d.cn/">求生之路2/生存之旅2</a></p>
                                <p><a href="http://steamgo.xnwhxz.cn/#/games">孤岛危机：重制版</a></p>
                                <p><a href="http://steam.5188bg.cn/detail4/200?m=17&s=2583">狙击手：幽灵战士契约</a></p>
                                <p><a href="https://baike.so.com/doc/9726050-10072526.html">孤岛惊魂5</a></p>
                                <p><a href="http://steamgo.xnwhxz.cn/#/detail?appid=257420">英雄萨姆4</a></p>
                                <p><a href="http://www.3h3.com/zztt/titanfall/">泰坦陨落</a></p>
                                <p><a href="https://www.mamecn.com/game/659732/">合金弹头XX 官方正式版</a></p>
                                <p><a href="https://www.ali213.net/zhuanti/halo/">光环：士官长合集</a></p>
                            </div>
                            <div class="sec2_main_body_content_right">
                                <img src="img/2-1.jpg" alt="" />
                            </div>
                        </div>
                        <div class="sec2_main_body_content hidden">
                            <div class="sec2_main_body_content_left">
                                <p><a href="https://lol.qq.com/act/a20220926s12/index.shtml?e_code=507042">英雄联盟</a></p>
                                <p><a href="https://www.dota2.com.cn/">DOTA2</a></p>
                                <p><a href="http://www.m3guo.com/v2/">梦三国</a></p>
                                <p><a href="https://heroes.blizzard.cn/landing">风暴英雄</a></p>
                                <p><a href="https://gamevip.qq.com/act/a20160115coslz/index.htm">英魂之刃</a></p>
                                <p><a href="http://300.jumpw.com/">300英雄</a></p>
                                <p><a href="https://pvp.qq.com/">王者荣耀</a></p>
                            </div>
                            <div class="sec2_main_body_content_right">
                                <img src="img/1000.webp" alt="" />
                            </div>
                        </div>
                        <div class="sec2_main_body_content hidden">
                            <div class="sec2_main_body_content_left">
                                <p><a href="http://steam.5188bg.cn/detail4/261?m=17&s=16138">古墓丽影：崛起</a></p>
                                <p><a href="https://store.steampowered.com/search/?term=%E5%BC%82%E6%98%9F%E6%8E%A2%E9%99%A9%E5%AE%B6">异星探险家</a></p>
                                <p><a href="https://store.steampowered.com/">艾迪芬奇的记忆</a></p>
                                <p><a href="https://store.steampowered.com/">传送门骑士</a></p>
                                <p><a href="https://store.steampowered.com/search/?term=%E9%A5%A5%E8%8D%92">饥荒</a></p>
                                <p><a href="https://store.steampowered.com/search/?term=water">美丽水世界</a></p>
                                <p><a href="https://store.steampowered.com/search/?term=Firewatch">Firewatch</a></p>
                                <p><a href="https://store.steampowered.com/search/?term=%E5%A5%A5%E6%97%A5%E4%B8%8E%E9%BB%91%E6%9A%97%E6%A3%AE%E6%9E%97">奥日与黑暗森林</a></p>
                                <p><a href="https://store.steampowered.com/search/?term=%E9%93%B6%E6%B2%B3%E5%8E%86%E9%99%A9%E8%AE%B0">银河历险记3</a></p>
                            </div>
                            <div class="sec2_main_body_content_right">
                                <img src="img/2-3.jpg" alt="" />
                            </div>
                        </div>
                        <div class="sec2_main_body_content hidden">
                            <div class="sec2_main_body_content_left">
                                <p><a href="https://terraria.org/">泰拉瑞亚 Terraria</a></p>
                                <p><a href="https://playstarbound.com/">星界边境 Starbound</a></p>
                                <p><a href="https://www.nexusmods.com/stardewvalley">星露山谷 Stardew valley</a></p>
                                <p><a href="https://store.steampowered.com/search/?term=%E4%BB%A5%E6%92%92%E7%9A%84%E7%BB%93%E5%90%88%3A%E9%87%8D%E7%94%9F">以撒的结合:重生</a></p>
                                <p><a href="https://store.steampowered.com/search/?term=Risk+of+rain">雨中冒险 Risk of rain</a></p>
                                <p><a href="https://store.steampowered.com/search/?term=Crypt+of+necrodancer">Crypt of necrodancer</a></p>
                                <p><a href="https://store.steampowered.com/search/?term=Nidhogg">尼德霍格 Nidhogg </a></p>
                        
                            </div>
                            <div class="sec2_main_body_content_right">
                                <img src="img/2-4.jpg" alt="" />
                            </div>
                        </div>
                        <div class="sec2_main_body_content hidden">
                            <div class="sec2_main_body_content_left">
                                <p><a href="https://store.steampowered.com/search/?term=Among+Us">太空狼人杀 Among Us</a></p>
                                <p><a href="https://rmx.softstargames.com.tw/main/">大富翁10</a></p>
                                <p><a href="https://store-jp.nintendo.com/list/software/70010000038868.html">胡闹厨房2 Overcooked! </a></p>
                                <p><a href="https://www.sidefx.com/docs/houdini/nodes/sop/polybridge.html">桥梁建筑师 Poly Bridge</a></p>
                                <p><a href="https://www.ea.com/ea-studios/popcap">植物大战僵尸 Plants Vs. Zombies</a></p>
                            </div>
                            <div class="sec2_main_body_content_right">
                                <img src="img/2-7.jpg" alt="" />
                            </div>
                        </div>
                        <div class="sec2_main_body_content hidden">
                            <div class="sec2_main_body_content_left">
                                <p><a href="http://ark.woniu.com/static/info/">方舟：生存进化</a></p>
                                <p><a href="https://www.minecraft.net/zh-hans">我的世界：地下城</a></p>
                                <p><a href="https://baike.so.com/doc/5401621-7763999.html">森林</a></p>
                                <p><a href="http://steamgo.xnwhxz.cn/#/detail?appid=313120">荒岛求生</a></p>
                                <p><a href="https://forums.dayz.com/">DayZ </a></p>
                                <p><a href="https://rimworldgame.com/">RimWorld 环世界</a></p>
                                <p><a href="https://redbarrelsgames.com/games/outlast/">Outlast </a></p>
                                <a href="#"><p>这是我的战争</p></a>
                            </div>
                            <div class="sec2_main_body_content_right">
                                <img src="img/2-6.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <h3><a href="#" name="P">第三屏</a></h3> -->
            <div class="section sec3" id="section3">
                <div class="slide">
                    <img src="img/3-1.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="img/3-2.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="img/-3-3.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="img/3-4.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="img/3-5.jpg" alt="" />
                </div>
                <div>
                    <img src="img/3-6.jpg" alt=""/>
                </div>
            
            </div>
            <!-- <h3><a href="#" name="S" >第四屏</a></h3> -->
            <div class="section sec4" id="section4">
                <!-- 背景小圆点 -->
                <div class="sec4_circle1"></div>
                <div class="sec4_circle2"></div>
                <div class="sec4_circle3"></div>
                <!-- 主题内容 -->
                <div class="sec4_main_box">
                    <!-- 天气板块 -->
                    <div id="sec4-app">
                        <div class="sec4_title"><h3 style="color:blueviolet">游戏资讯</h3></div>
                        <a href="https://www.ali213.net/news/html/2022-4/671803.html"><h2 style="text-align:center; color: cornflowerblue;">      暴雪魔兽手游即将来临！爆料称其中一个像宝可梦GO       </h2></a>
                        <a href="https://www.ea.com/games/apex-legends/news?isLocalized=true"><h2 style="text-align:center; color: cornflowerblue;">      Apex 英雄最新消息       </h2></a>
                        <a href="https://www.ali213.net/news/html/2022-4/671781.html"><h2 style="text-align:center;color: cornflowerblue;">      《消逝的光芒2》修复合作模式bug 新游戏+模式上线！    </h2></a>
                        <a href="https://store.steampowered.com/"><h2 style="text-align:center;color: cornflowerblue;">      多人FPS游戏《守望先锋2》战网分流下载发布！        </h2></a>
                        <a href="https://cf.qq.com/cp/a20220401newrole/pc/index.html?e_code=507909"><h2 style="text-align:center;color: cornflowerblue;">        CF 5.1神枪节 全新限定来即领        </h2></a>
                        <a href="https://lol.qq.com/act/a20220429preedgskins/index.html?e_code=507042"><h2 style="text-align:center;color: cornflowerblue;">     EDG冠军皮肤：银龙铸铠之日，骑士归来之时       </h2></a>
                        <a href="https://www.ali213.net/news/html/2022-4/671675.html"><h2 style="text-align:center;color: cornflowerblue;">      《王者荣耀》关羽马没了！荣耀典藏皮肤开摩托撞人        </h2></a>
                        <a href="https://www.ali213.net/news/html/2022-4/671507.html"><h2 style="text-align:center;color: cornflowerblue;">      万代Steam黄金周特卖活动：多款游戏新平史低促销！       </h2></a>
                        <a href="https://hy.163.com/2019/hifive/"><h2 style="text-align:center;color: cornflowerblue;">      荒野行动狂欢月，免费金品，万元现金        </h2></a>
                        <a href="https://baijiahao.baidu.com/s?id=1736426198846265653&wfr=spider&for=pc"><h2 style="text-align:center;color: cornflowerblue;">      《我的世界》限时特惠礼包惊喜上线，多重福利等你解锁！        </h2></a>
                        <div class="sec4_search">
                            <input
                                type="text"
                                name=""
                                id=""
                                placeholder="搜索"
                                @keyup.enter="searchEnter"
                                v-model="city"
                                class="sec4_input"
                            />
                            <button @click="clickButton" class="sec4_button">搜索</button>
                        </div>
                        <div class="sec4_select">
                            <a href="javascript:;" @click="changeCity('南昌')"></a>
                            <a href="javascript:;" @click="changeCity('杭州')"></a>
                            <a href="javascript:;" @click="changeCity('上海')"></a>
                            <a href="javascript:;" @click="changeCity('北京')"></a>
                            <a href="javascript:;" @click="changeCity('广州')"></a>
                        </div>
                        <ul class="sec4_ul">
                            <li v-for="item in weatherList" :key="index" class="sec4_li">
                                <div class="sec4_weather">
                                    <div class="tianqi">{{item.type}}</div>
                                    <div class="qiwen">{{item.low}}</div>
                                    <div class="date">{{item.date}}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- <h3><a href="#3" name="V">第五屏</a></h3> -->
            <div class="section sec5" id="section5">
                <video src="music/zwi.mp4" autoplay muted loop controls></video>
            </div>
        </div>
    <!-- ------------------------------------------------- -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/vue.js"></script>
</body>

</html>